* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* category_list forside */
.category_list_container {
}

.category_list_button {
}
